@{
    ViewData["Title"] = "Crear Usuario";
}

<div class="container my-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    @if (TempData["SuccessMessage"] != null)
    {
        <div id="successMessage" class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="job" class="form-label">Trabajo:</label>
            <input type="text" class="form-control" id="job" name="job" required>
        </div>
        <button type="submit" class="btn btn-primary">Crear Usuario</button>
    </form>
</div>

@section Scripts {
    <script>
        // Ocultar el mensaje de éxito después de 3 segundos
        setTimeout(function() {
            document.getElementById('successMessage').style.display = 'none';
        }, 5000);
    </script>
}



